{% block content %}


{% block link %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}


<form method="post">{% csrf_token %}
<div class="text-center">
  <div class="card-body">
      <h3 class="card-title">Delete</h3>
      <p class="card-text"><h5 class="card-title" >Are you sure you want to delete "{{ posts }}" ?</h5></p>
      <input class="btn btn-secondary" type="submit" value="Submit" />
  </div>
</div>
</form>
{% endblock %}